:root {
    --table_border_color: darkgray;
    --table_background_color: lightgrey;
}

table.borders {
    border-collapse: collapse;
    border: 1px solid var(--table_border_color);
}

table.borders th {
    border: 2px solid var(--table_border_color);
}

table.borders td {
    border: 1px solid var(--table_border_color);
}

table.board td {
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
}

table.board.small td {
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
}

.fontNormal {
    font-size: 25px;
}

.fontSmall {
    font-size: 17px;
}

table.board td.white:before {
    content: "\2659"
}

table.board td.black:before {
    content: "\265F"
}
